.backgroundPage {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(to bottom, transparent, rgb(255, 255, 255))
    rgb(214, 219, 220);
}
